@model int
@{
    ViewBag.Title = "SelectTokenType";
}

<h2>SelectTokenType</h2>

 <h1>Automatic Token Generation </h1>
@Html.ActionLink("AutoTokenGeneration", "AutoTokengeneration", "AutomaticToken")