@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Currently due to Covid-19 situation the country is in lockdown mode so people find it difficult to buy daily essential products and services. Local shops also find it difficult to follow social distancing norms because of overcrowding. By consolidating all these independent services we will consolidate multiple purchase occasions into just one. Simplifying the process for the end user. The system will establish a framework that will facilitate ease of access to local services which will be efficient and beneficial for both customers and local business owners. Web application will allow users to view services like barber shops, private medical clinics, mineral water providers, milk dairy etc. For barber shops, users can request a service and then he will get a token/ticket and that ticket will be pulled by service provider to fulfill customer’s requirements. The customer will be able to view his token status and can also be able to view the waiting list. This will minimize overcrowding and help promote local businesses.</p>
    </div>
</div>