@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
       Group 2 (Interns 2020) <br />
       Persistent Systems<br />
        
    </address>

    <address>
       <i class="icon-envelope"></i><strong>Developer:</strong> <a href="mailto:Marketing@example.com">Aniket Bhandarge</a>
    </address>
</div>